/* Section Parallax */
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.sec {
    position: relative;
    background: #003329;
    padding: 100px;
}
.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}